.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  padding: 16px 0;
  width: 173px;
  height: 56px;
  background-color: var(--button);
  transition: color 0.2s ease;
}
.btn:hover {
  background-color: var(--button-hover);
}