.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('../public/img/banner.png') center/cover no-repeat;
}

.content {
  font-weight: 600;
  color: var(--inputs);
  padding-left: 79px;
}

.title {
  font-family: var(--font-family);
font-weight: 600;
font-size: 48px;
line-height: 67%;
color: var(--inputs);
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
color: var(--inputs);
  margin-bottom: 40px;
}
/* .content {

height: 176px;
margin-top: 16px;
  margin-bottom: 40px;
  padding: 16px 0;
  margin: 0;

} */

/* .subject {
  margin-top: 16px;
  margin-bottom: 40px;
  padding: 16px 0;
} */
