.form {
    display: flex;
flex-direction: column;
    border: 1px solid var(--gray-light);
border-radius: 10px;
padding: 44px;
width: 641px;

}


.orderForm {
    display: flex;
    
  
background: var(--inputs);
    border-radius: 12px;
padding: 18px 337px 18px 18px;
width: 527px;

}