.description {
     font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--text);
  }

.location {
      display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}