.card {
  min-height: 368px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  background-color: var(--white);
  position: relative;
  max-width: 888px;

  .card:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }

  .imageWrapper {
    position: relative;
    flex-shrink: 0;
  }

  .image {
    width: 100%;
    max-width: 290px;
    height: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 10px;
    min-height: 320px;
    
  }

  .favoriteBtn {
    padding: 4px 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .favoriteBtn:hover {
    transform: scale(1.1);
  }

  .active img {
    filter: drop-shadow(0 0 2px var(--button-hover));
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    max-width: 524px;
  }
}

.namePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
color: var(--main);
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 16px; */
  margin-top: 8px;
}
.ratingWrapper {
  margin-right: 16px;
}
.textloc {
  margin-left: 4px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  background: var(--badges);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 12px 18px;
  gap: 4px;
}

.footer {
  display: flex;
  justify-content: flex-start;
}

.icon {
  margin-right: 8px;
}

.rating span {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}