.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.imageWrapper {
  position: relative;
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 28px;
}

.image {
  object-fit: cover;
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.05);
}