/* .container {
      max-width: 1440px;
    margin: 0 auto;
    padding: 48px 64px;
} */

.location {
      display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}