.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 28px;
}


.imageWrapper {
  display: flex;
  position: relative;
  /* width: 292px;
  height: 320px; */
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 28px;
}

.image {
  object-fit: cover;
  transition: transform 0.2s;
  width: 100%;
}

.image:hover {
  transform: scale(1.05);
}