.header {
    display: flex;
    align-items: center;
   
   border-bottom: 1px solid var(--badges);
padding: 24px 64px;

height: 72px;
background: var(--inputs);
}
.nav {
    display: flex;
    gap: 20px;
    max-width: 138px;
    justify-content: start;


}

.logo {
    margin-right: 500px;
}

.textLink {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--main);
}
.active {
    color: var(--button-hover);
}