.container {
  display: flex;
  flex-direction: column;
   padding: 0 64px 80px 64px;
   max-width: 1440px;
    margin: 0 auto;
    
}

.features {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
padding: 44px 52px;
width: 641px;
background: var(--inputs);
  }

.tabContent {
    display: flex;
    align-items: stretch;
   
    gap: 32px;
    
}


.tabs {
  display: flex;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 24px;
}

.tab {
  background: transparent;
  border: none;
  padding-bottom: 24px;
  margin-right: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 5px solid var(--button);
}
.tagIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.detailsBox {
  margin-top: auto;
}

.detailsBox ul {
  list-style: none;
  margin-top: 24px;
  border-top: 1px solid var(--gray-light);
}

.detailsBox li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewCard {
  gap: 16px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.34;
  color: var(--button);
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: var(--badges);
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  background: var(--badges);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 12px 18px;
  gap: 4px;
}